body{
    font-family: Monaco;
    background: url(/images/carolina_blue.png);
    background-size: cover;
    background-position: center;
}

.nav_buttons button{
    font-family: Monaco;
    position: center;
    height: 35px;
    width: 24%;
    margin-bottom: 10px;
    background: white;
    border-style: none;
    color: black;
    font-size: 15px;
    
}
.nav_buttons button:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.header{
    font-family: Monaco;
    text-align: center;
}

.tasks button{
    font-family: Monaco;
    position: center;
    height: 35px;
    width: 24%;
    margin-bottom: 10px;
    background: white;
    border-style: none;
    color: black;
    font-size: 15px;
}

.tasks button:hover{
    cursor: pointer;
    background: black;
    color: white;
}